.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr; /* largura fixa e o segundo vai se adaptar*/
  gap: 2rem;
  align-items: flex-start; /*the sidebar will always be on the top algumas vezes ele tenta ajustar o tamanho da divs*/
}

@media(max-width: 768px){
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;/*invés de duas colunas terá apenas uma e vai cobrir a tela toda*/
  }
}